/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  overflow-y: hidden;
  background-color: rgb(17 24 39);
}

.menu-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.menu-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.menu-exit {
  opacity: 1;
  transform: translateX(0);
}

.menu-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}

/* Custom CSS to remove the stepper */
.no-stepper::-webkit-inner-spin-button,
.no-stepper::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-stepper {
  -moz-appearance: textfield;
  appearance: textfield;
}
